@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&display=swap');
*{
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
    background-image: url(assets/images/luxa.org-opacity-changed-Designer\ \(1\).png);
    background-size: cover;
    background-position: center;
}
header{
    display: flex;
    background-color: #FEDBD3;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    padding: 1rem 2rem;
}
.logo-nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
}



.nav-bar-conteiner ul{
    list-style: none;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    
}
.nav-bar-conteiner ul a{
    font-style: none;
    text-decoration: none;
    padding: .8rem;
    margin: 0 1em;
    transition: 200ms;

}
.nav-bar-conteiner ul a  li{
    text-decoration: none;
    color: #496B5D;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: center;
    gap: 10px; 
    padding: 1rem;
    background-color: #496B5D;
    border-radius: 10px;
    transition: 200ms;
}
.button-container img{
    width: 2rem;
    filter: invert(100%);
}
.button-container p{
    color: white;
}
.nav-bar-conteiner ul a:hover{
    background-color: #ffece7;
    border-radius: 3px;
    transform: scale(1.2);
}
.button-container:hover{
    background-color: #577a6b;
    transform: scale(1.1);
    
}

.hero {
    width: 100%;
    height:40vw;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('assets/images/images.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.wrapper {
    background-color: rgba(0,0,0, 10%);
    padding: 3rem; 
    border-radius: 10px;
    
}
.wrapper h1{
    font-size: 4rem;
}

.credits {
    font-size: 14px;
    padding: 10px;
    opacity: 0.8; 
    align-self: flex-end;
}



