@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&display=swap');
*{
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
    background-image: url(assets/images/luxa.org-opacity-changed-Designer\ \(1\).png);
    background-size: cover;
    background-position: center;
}

/* Creacion de un widget de informacion */
.info-widget {
    position: fixed; 
    bottom: 1rem;
    right: 1rem; 
    background-color: #254e3e;
    padding: 1rem;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    transition: 200ms;
}

.info-widget img{
    width: 100%;
    filter: invert(100);
}
.info-widget:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* Creacion de un header con display flex */
header{
    display: flex;
    background-color: #FEDBD3;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    padding: .5rem 1.5rem;
}

.logo-nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-image-container{
    width: 3rem;
    padding: 3px 10px;
    transition: 200ms;
    
}
.logo-image-container img{
    width: 100%;
    
}

.nav-bar-conteiner ul{
    list-style: none;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    
}
.nav-bar-conteiner ul a{
    font-style: none;
    text-decoration: none;
    padding: 1.5rem .8rem;
    transition: 200ms;

}
.nav-bar-conteiner ul a  li{
    text-decoration: none;
    color: #496B5D;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: center;
    gap: 10px; 
    padding: 1rem;
    background-color: #496B5D;
    border-radius: 10px;
    transition: 200ms;
}
.button-container img{
    width: 2rem;
    filter: invert(100%);
}
.button-container p{
    color: white;
}
.nav-bar-conteiner ul a:hover{
    background-color: #ffece7;
    border-radius: 3px;
    transform: scale(1.2);
    text-decoration: underline color(srgb 0 0 0);
}
.rigth-nav{
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}
.nav-icon{
    display: none;
    width: 2rem;
}
.nav-icon img{
    filter: invert(47%) sepia(50%) saturate(250%) hue-rotate(133deg) brightness(87%) contrast(90%);
    width: 100%;
}
.button-container:hover{
    background-color: #577a6b;
    transform: scale(1.1);
    cursor: pointer;
    
}
.logo-image-container:hover{
    background-color: #ffece7;
    border-radius: 3px;
    transform: scale(1.1);
    cursor: pointer;
}
/* Seccion de wrapper imagen inicial que carga la pagina */

.hero {
    width: 100%;
    height:41vw;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://sanluis.eluniversal.com.mx/resizer/v2/BRECPGXJFFEKTGBP6TVHVHFOSM.jpg?auth=1f4debb26734537400d9cf5675b5a1c1198d6028c34638b0a018b2b7c738e3a9'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.wrapper {
    background-color: rgba(0,0,0, 10%);
    padding: 3rem; 
    border-radius: 10px;
    
}
.wrapper h1{
    font-size: 4rem;
}

.credits {
    font-size: 14px;
    padding: 10px;
    opacity: 0.8; 
    align-self: flex-end;
}
/* Creacion de la seccion sobre nosotros */
.about-us-container{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.info-about h1{
    line-height: 3;
    font-size: 2rem;
}
.info-about p{
    color: #424242;
    font-size: 22px;
}
.image-about-container{
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image-about-container img{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.082);
    width: 100%;
}
/* Creacion de tarjetas de la seccion de noticias */
.news-cards{
    text-align: center;
    margin: 0;
    padding-bottom: 3rem;
    background-color: rgba(0, 0, 0, 0.082)
}
.news-cards h1 {
    font-size: 2rem;
    padding: 2rem;
}
.container-card {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    justify-items: center;
    gap: 2rem;
    padding: 2rem;
}

.card {
    background-color: #ffff;
    border: 1px solid #ffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;   
    width: 25rem;    
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    transition: 250ms;
}
.image-card {
    width: 90%;
    height: 12rem; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-card img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.info-card {
    width: 70%;
    padding: 1.5rem;
    text-align: left;
}

.info-card h2 {
    font-size: 1.25rem;
    margin-bottom: 8px;
}

.info-card p {
    font-size: 16px;
    text-align: center;
    color: #666;
}


.news-cards button, .about-us-container button {
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: #f19a9a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 200ms;
}

.news-cards button:hover ,.about-us-container button:hover {
    background-color: #ca8282;
}
.card:hover{
    transform: scale(1.03);
    cursor: pointer;
}
/* Creacion de seccion de la tienda */
.store-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.164);
}
.store-section h1{
    text-align: center;
    font-size: 2rem;
}
.store-cards{
    display: grid;
    color: #202020;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.75rem;
    padding: 2rem 4rem;
}
.big-card{  
    grid-column: 1/3;
    grid-row: 1/3;  
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    border-radius: 15px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    transition: 200ms;
}

.small-card{
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: 200ms;
}

.big-card-image-container{
    width: 70%;
    align-self: center;
}

.big-card-image-container img{
    width: 100%;
    border-radius: 5px;
}

.small-card-icon-container{
    width: 35%;
    align-self: flex-end;
}

.small-card-icon-container img{
    width: 100%;
}
.small-card:hover{
    transform: translate(0,-3px);
    cursor: pointer;
}
.big-card:hover{
    transform: translate(0,-8px);
    cursor: pointer;
}
/* Creacion de tarjetas para ubicacion y contacto */
.contact-cards{
    text-align: center; 
    margin: 3rem;
}
.contact-cards h1{
    margin: 2rem;
    font-size: 2rem;
}
.card-coontainer-contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    padding: 2rem;
}
.card-coontainer-contact .card h2{
    text-align: center;
}
.contact-cards button{
    cursor: pointer;
    background-color: #496B5D;
    color: #ddd;
    padding: 8px 50px;
    border: none;
    transition: 200ms;
    
    border-radius: 5px;
}
.contact-cards button:hover{
    background-color: #577a6b;
}

/* Creacion de un foooter con el uso de grid para poder centrar la informacion */

footer {
    background-color: #496B5D; 
    margin: 3rem;
    border-radius: 10px; 
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff; 
}
.left-footer-container{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.logo-footer-container{
    width: 5rem;
    background-color: white;
    padding: 2px;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
    
}
.logo-footer-container img{
    width: 100%;
}

.social-media-footer-container ul{
    list-style: none;
    display: flex;
    gap: 1.2rem;
}
.social-media-footer-container li {
    width: 1.5rem;
    border-radius: 100%; 
    padding: 0.8rem;
    border: solid white;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: 200ms;
}

.social-media-footer-container img{
    filter: invert(100);
    width: 100%;
}
.info-footer{
    text-align: right;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 2rem;

}

.social-media-footer-container li:hover {
    transform: scale(1.2); 
}




@media (max-width: 1300px) {
    /* Hacer Resposivas las tarjetas de la seccion de noticias */
    .container-card {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Hacer responsivas las tarjetas de contacto */
    .card-coontainer-contact {
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .card-coontainer-contact .card:nth-child(3) {
        grid-column: 1 / 3;
        justify-self: center; 
    }
}
@media (max-width:900px){
/* Responsividad para las tarjetas de noticias */
    .container-card {
        grid-template-columns: 1fr; 
    }
    .nav-bar-conteiner ul{
        display: none;
    }
    .nav-icon{
        display: inline-block;
        cursor: pointer;
    }
     /* Responsividad de tarjetas de tienda */
    
    .store-cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 1rem 2rem;
    }

}    
@media (max-width: 768px) {

    .info-widget {
        width: 20px;
    }
    /* Responsividad boton de navegacion */
    .button-container {
        gap: 5px; 
        padding: .5rem;
    }
    .button-container img{
        width: 1rem;
    }
    .button-container p{
        font-size: 12px;
    }
/* Responsividad para tablets tarjetas de contacto */
    .card-coontainer-contact {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        gap: 1.5rem;
    }

    .card-coontainer-contact .card:nth-child(3) {
        grid-column: 1; /* Restablece la posición automática */ 
    }
/* Responsividad para tablets footer */
    footer {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 1rem;
    }

    .info-footer {
        text-align: center;
        margin: 1rem 0 0 0;
    }

    .left-footer-container {
        justify-content: center;
        gap: 1.5rem;
    }
    .logo-footer-container {
        display: none;
    }
}

/* Responsividad para móviles */
@media (max-width: 550px) {
    
/*Contenido del wrapper */
    .wrapper h1{
        font-size: 2rem;
    }

    .credits {
        font-size: 10px;
        
    }
/* Contenedor sobre nosotros */
    .image-about-container{
        width: 18rem;
    }
    .info-about h1{
        font-size: 1rem;
    }
    .info-about p{
        font-size: 14px;
    }
    .big-card h1{
        font-size: 1rem;
    }
    .small-card h2{
        font-size: 14px;
    }
/* Tarjetas para celulares */
    .card {
        width: 18rem;
    }
    .image-card {
        width: 90%;
        height: 10rem;
    }
    .info-card p {
        font-size: 12px;
    }
    .contact-cards h1{
        font-size: 1rem;
    }
    .store-section h1{
        font-size: 1rem;
    }
    .news-cards h1 {
        font-size: 1rem;
    }
    .info-card h2{
        font-size: 14px;
    }
/* Footer para celulares */
    
    footer {
        margin: 1rem;
        padding: 0.8rem;
        gap: 1rem;
    }

    .social-media-footer-container ul {
        justify-content: center;
    }

    .info-footer {
        font-size: 0.8rem;
    }

    
}