@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&display=swap');
*{
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    background-color: #FEDBD3;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.logo-nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-bar-conteiner{
    
}

.nav-bar-conteiner ul{
    list-style: none;
    display: flex; 
    align-items: center;
    padding: 0;
    margin: 0;
    
}
.nav-bar-conteiner ul a{
    font-style: none;
    text-decoration: none;
    padding: .8rem;
    margin: 0 1em;
    transition: 200ms;

}
.nav-bar-conteiner ul a  li{
    text-decoration: none;
    color: black;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px; 
    padding: 1rem;
    background-color: #496B5D;
    border-radius: 10px;
    transition: 200ms;
}
.button-container img{
    width: 2rem;
    filter: invert(100%);
}
.button-container p{
    color: white;
}
.nav-bar-conteiner ul a:hover{
    background-color: #ffece7;
    border-radius: 3px;
    transform: scale(1.2);
}
.button-container:hover{
    background-color: #577a6b;
    transform: scale(1.1);
}
section.hero .wrapper{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 180px 20px 100px;
}
